.el-menu--vertical, .el-menu--horizontal {
  .el-menu--collapse .el-menu .el-submenu, .el-menu--popup {
    border-radius: 4px;
    min-width: 175px !important;
    li {
      height: 48px !important;
      line-height: 48px !important;
      .el-submenu__title {
        height: 48px !important;
        line-height: 48px !important;
        .el-submenu__icon-arrow {
          top: 56%;
          font-weight: bold;
        }
      }
    }
  }
}
.el-table {
  position: initial;
  &:before {
    content: none;
  }
}
.el-table--border {
  border-left: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
}

.el-pagination {
  margin-top: 20px;
}

.el-form-item {
  margin-right: 20px !important;
}

.el-form .line {
  text-align: center;
}